@tailwind base;
@tailwind components;
@tailwind utilities;


.title{
    font-size: 60px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.dog {
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 10%;

}

h2 {
    font-size: 40px;
    margin-top: 25%;
}
.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.grid-item {
    grid-row-start: 2;
    grid-row-end: 4;
}

.summary {
    padding: 100px;
    text-align: center;
}
.destinations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;


}

.destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
  
}
.pic {
    margin: 0 auto;
    width: 70%;
    height: 70%;
    padding: 15px;
}

.info {
    max-width: 70%;
    margin: 0 auto;
}

.word {
    font-size: 26px;
}